body {
    height: 2000px;
}

#dragdrop {
    .dragDropContainer {
        border: 1px solid;
        padding: 15px;
        width: 100%;
        height: 300px;
        img {
            cursor: pointer;
            width: 150px;
            max-height: 100px;
            border-radius: 5px;
            box-shadow: 0px 0px 57px -25px black;
            margin: 5px;
        }
    }
}

#imageWrapper {
    border: 1px solid;
    padding: 15px;
    width: 100%;
    height: 300px;
    img {
        cursor: pointer;
        width: 150px;
        max-height: 100px;
        border-radius: 5px;
        box-shadow: 0px 0px 57px -25px black;
        margin: 5px;
    }
}